<script>
	import Login from "./Login.svelte";
	import Main from "./Main.svelte";
	import { onMount } from 'svelte';

	let logged_in = false;
	let invalid_credentials = false;


	function handle_login() {
		logged_in = true;
	}

	function handle_logout() {
		logged_in = false;
	}

	async function regenerateLoginToken() {
		const result = await fetch('/api/auth/regenerate', {method: 'POST'});
		if (result.ok) {
			return true;
		} else if (result.status === 403) {
			return false;
		} else {
			throw new Error(await result.text());
		}
	}

	onMount(async () => {
		//logged_in = await regenerateLoginToken();
		logged_in = true;
	})
</script>


<main class:logged-out={logged_in === false}>
	{#if logged_in}
		<Main on:logout={handle_logout}/>
	{:else}
		<Login on:successful_login={handle_login}/>
	{/if}
</main>

<style>
	main {
		padding: 1em;
		margin: 0;
		font-family: sans-serif;
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
		box-sizing: border-box;
	}

	.logged-out {
		justify-content: center;
	}

	h1 {
		align-self: center;
		margin: 0;
	}
</style>