<script>
    export let color;
    export let text;
    export let text_color = "#FFFFFF";
</script>

<div class="tag" style="background-color: {color}; color: {text_color}">
    <b>{text}</b>
</div>

<style>
    .tag {
        border-radius: 1em;
        font-size: 0.8em;
        display: inline-block;
        float: right;
        box-shadow: 0 0 2px #333333;
        padding: 2px 1em;
        margin: 0 4px;
    }
</style>