<script>
    import {createEventDispatcher} from 'svelte';

    const dispatch = createEventDispatcher();

    let email = "";
    let password = "";
    let invalid_credentials = false;

    async function login() {
        let formData = new FormData();
        formData.append("email", email);
        formData.append("password", password);
        let response = await fetch("/api/auth/login", {
            method: "POST",
            body: formData
        });

        if (response.ok) {
            dispatch('successful_login', {});
        } else {
            invalid_credentials = true;
            dispatch('failed_login', {});
        }
    }
</script>

<div class="login">
    <h1>ARIS PartsMonkey</h1>
    <input id="email" type="text" placeholder="E-Mail" bind:value={email}>
    <input id="password" type="password" placeholder="Password" bind:value={password}>
    {#if invalid_credentials}
        <p class="invalid_message">Invalid credentials!</p>
    {/if}
    <button id="login" on:click={login}>
        Login
    </button>
</div>

<style>
    .login {
        width: 100%;
        max-width: 350px;
        padding: 1.5em;
        align-self: center;
        margin: 1em;
        display: flex;
        flex-direction: column;
        align-content: center;
        box-shadow: 0 0 5px #cecece;
        border-radius: 10px;
    }

    h1 {
        margin: 0 auto 1em;
    }

    button {
        margin: 1em auto 0;
        padding: 0.65em 1em;
    }

    input {
        border: none;
        border-radius: 1em;
        box-shadow: inset -1px -1px 4px #b5b5b5;
        padding: 0.6em 1em;
    }

    .invalid_message {
        text-align: center;
        color: #ff5f00;
        font-weight: bold;
    }
</style>