<script>
    import {createEventDispatcher} from "svelte";
    import {Router, Route, Link} from "svelte-navigator";
    import Tools from "./Tools.svelte";
    import Consumables from "./Consumables.svelte";
    import Parts from "./Parts.svelte";

    const dispatch = createEventDispatcher();

    function logout() {
        fetch('/api/auth/logout', {method: 'POST'})
        .then((_) => {
            dispatch('logout', {});
        });
    }

</script>

<Router>
    <Route path="/">
        <div class="wrapper">
            <Link to="tools">Tools</Link>

            <Link to="consumables">Consumables</Link>

            <Link to="parts">Parts</Link>

            <Link to="tools">Log Out</Link>

            <Link to="tools">Admin</Link>
        </div>
    </Route>

    <Route path="tools">
        <Tools/>
    </Route>

    <Route path="consumables">
        <Consumables/>
    </Route>

    <Route path="parts">
        <Parts/>
    </Route>
</Router>

<style lang="scss">
    .wrapper {
      :global(a) {
        display: block;
        width: 100%;
        max-width: 240px;
        align-self: center;
        padding: 0.65em;
        margin: 0.5em 0;
        color: black;
        text-align: center;
        border: none;
        border-radius: 3px;
        box-shadow: 0 0 5px #cecece;
        outline: none;

        &:hover {
          background-color: #ff6c11;
          color: white;
          font-weight: bold;
          box-shadow: 0 0 5px #a2a2a2;
        }
      }
      display: inherit;
      flex-direction: column;
    }
</style>