<script>
    import {search_query} from "./stores";
    import SearchableListItem from "./SearchableListItem.svelte";
    import {slide} from 'svelte/transition';
    import fuzzysort from 'fuzzysort';

    export let expanded = false;
    export let name;
    export let items;

    function toggle() {
        expanded = !expanded;
    }

    let subcategories = items.filter((item) => item.type === 'category');
    let unfiltered_leaf_items = items.filter((item) => item.type !== 'category');
    $: leaf_items = $search_query === "" ? unfiltered_leaf_items : fuzzysort.go($search_query, unfiltered_leaf_items, {key: 'name'}).map((res) => res.obj);
</script>

<span class:expanded on:click={toggle}>{name}</span>

{#if expanded}
    <ul transition:slide={{duration:200}}>
        {#each subcategories as subcat}
            <li>
                <svelte:self {...subcat}/>
            </li>
        {/each}
        {#each leaf_items as item}
            <li>
                <SearchableListItem {...item}/>
            </li>
        {/each}
    </ul>
{/if}

<style lang="scss">
    span {
        $pad: 0.3em;
        cursor: pointer;
        font-weight: bold;
        padding-top: $pad;
        padding-bottom: $pad;
        padding-left: 1.5em;
        background: url(/assets/icons/chevron-right.svg) 0 $pad no-repeat;
        background-size: 1em 1em;
    }

    .expanded {
        background-image: url(/assets/icons/chevron-down.svg);
    }

    ul {
        padding: 0.2em 0 0 0.5em;
        margin: 0 0 0 0.5em;
        list-style: none;
        border-left: 1px solid #eee;
    }

    li {
        padding: 0.2em 0;
    }
</style>