<script>
    import ItemTag from "./ItemTag.svelte";

    export let greyed_out = false;
    export let name = "";
    export let tags = [];
</script>

<li class:greyed-out={greyed_out}>{name} {#each tags as tag} <ItemTag {...tag} /> {/each}</li>

<style>
    li {
        list-style-type: none;
        text-align: start;
        background-color: #f0f0f0;
        padding: 0.5em;
        border-radius: 3px;
        box-shadow: 0 0 2px #949494;
    }

    li:hover {
        background-color: #e5e5e5;
    }

    .greyed-out {
        color: #949494;
    }
</style>