<script>
    import {search_query} from "./stores";
    import SearchableListCategory from "./SearchableListCategory.svelte";
    export let name = "Default searchable list";
    export let addItemCallback = async () => {};
    export let data = [];

</script>

<div class="header">
    <h1>{name}</h1>

    <span class="add-item-btn" on:click={addItemCallback()}></span>
</div>

<input type="text" bind:value={$search_query} placeholder="Search...">

<SearchableListCategory name={name} items={data} expanded="true"/>

<style lang="scss">
    .add-item-btn {
        cursor: pointer;
        font-weight: bold;
        padding: 0.5em 1em;
        box-shadow: 0 0 1px #999999;
        border-radius: 1px;
        background: url(/assets/icons/plus.svg) 0.5em 0.5em no-repeat;
        background-size: 1em 1em;
        margin: 1em;
        height: 2em;
        width: 2em;
        box-sizing: border-box;
    }

    .add-item-btn:hover {
      filter: invert(1);
      background-color: invert(#ff6c11, $weight: 100%);
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      align-items: center;

        h1 {
          font-weight: lighter;
          text-transform: uppercase;
          color: #ff6c11;
          margin: 0 0;
          font-size: 2.3em;
        }
    }
</style>