<script>
    import SearchableList from "./SearchableList.svelte";

    let items = [
        {
            type: "tool",
            name: "Awesome Tool",
            tags: [
                {
                    color: "#92ea00",
                    text: "Okay",
                    text_color: "#1f1f1f"
                },
                {
                    color: "#ff0000",
                    text: "Checked out"
                }
            ],
            greyed_out: true
        },
        {
            type: "tool",
            name: "Test",
            tags: [
                {
                    color: "#92ea00",
                    text: "Okay",
                    text_color: "#1f1f1f"
                },
                {
                    color: "#ff0000",
                    text: "Checked out"
                }
            ],
            greyed_out: false
        },
        {
            type: "tool",
            name: "Test",
            tags: [
                {
                    color: "#92ea00",
                    text: "Okay",
                    text_color: "#1f1f1f"
                },
                {
                    color: "#ff0000",
                    text: "Checked out"
                }
            ],
            greyed_out: false
        },
        {
            type: "tool",
            name: "Test",
            tags: [
                {
                    color: "#92ea00",
                    text: "Okay",
                    text_color: "#1f1f1f"
                },
                {
                    color: "#ff0000",
                    text: "Checked out"
                }
            ],
            greyed_out: true
        }
    ];

    let categories = [
        {
            type: "category",
            name: "Screwing Tools",
            items: items
        },
        {
            type: "category",
            name: "Soldering Tools",
            items: [
                {
                    type: "category",
                    name: "THT Tools",
                    items: items
                },
                {
                    type: "category",
                    name: "SMD Tools",
                    items: items
                }
            ]
        }
    ]

    let searchCallback = (search_query, data) => {
        return search_category_tree(data, search_query);
    }

</script>

<SearchableList name="Tools" data={categories}/>